[data-cognigy-webchat-root]
  [data-cognigy-webchat-toggle].webchat-toggle-button {
  height: 200px;
  width: 200px;
  box-shadow: none;
}

[data-cognigy-webchat-root] [data-cognigy-webchat].webchat {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0;
}

body {
  background-color: #f9f6f1;
  font-family: "Yusei Magic", sans-serif;
}
